.vscode/c_cpp_properties.json
aplikacja_serwera/key.pem
aplikacja_serwera/cert.pem
aplikacja_serwera/log.txt
aplikacja_serwera/xmrig_log.txt
aplikacja_serwera/simdjson.cpp
aplikacja_serwera/simdjson.h
aplikacja_serwera/cryptominer_server.o
aplikacja_serwera/cryptominer_server
aplikacja_serwera/xmrig_miner_handler.o
aplikacja_serwera/xmrig_miner_handler
aplikacja_serwera/cryptominer_server_functions.o
program_wyswietlania/.lgd-nfy0
program_wyswietlania/__pycache__
aplikacja_serwera/user_api_key.txt
aplikacja_serwera/admin_api_key.txt
aplikacja_serwera/bfgminer_handler.cpp
aplikacja_serwera/bfgminer_handler_adapter_script.sh
